@font-face {
    font-family: fonts;
    src: url(../fonts/Candara.ttf);
}
body {
	font-family: fonts;
	background-color: #0c2e77;
}

.bannerFont {
	font-weight: bold;
}
.container {
	position: relative;
	text-align: center;
	color: white;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.linkSideBar{
	border-bottom: 1px;
}

#banner{
	position: relative;
}
#imgIndex{
	filter:brightness(50%);
}
#form{
	position:relative;
	width: 35%;
	margin-top: 1%;
}
#sidebar{
	margin-left: 1%;
	margin-top:1%;
	padding: 0;
	position:fixed;
}
#topbar{
	width: 98%;
	margin-left: 1%;
	margin-top:1%;
}
#content{
	margin-left:21.1%;
	margin-top:1%;
	margin-right: 1%;
}

/* profile.php */
